@import url('https://fonts.googleapis.com/css?family=Teko|Permanent+Marker');

html {
  font-family: "Arial Black";
  text-decoration: none;
}

body {
  background: #0C0C0C;
  background-image: url('images/background.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding-left: 0;
  vertical-align: top;
}

li {
  text-align: center;
}

img {
  height: auto;
  width: auto;
}

.site-content {
  max-width: 975px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  background: #0C0C0C;
}

.site-header {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.banner-image {
  width: 100%;
  height: auto;
}

.nav-bar {
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
  text-decoration: none;
}

.nav-bar a {
  text-decoration: none;
  color: #0E7CBC;
  letter-spacing: 2px;
  width: 20%;
  padding: 0 25px;
}

.site-body {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.music-player {
  width: 100%;
}

.show-list {
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.homepage_video {
  width: 100%;
  height: 450px;
}

.press-bio {
  text-align: justify;
}

.press-bio-image {
    width: auto;
    height: 315px;
    float: left;
    padding-right: 10px;
    padding-bottom: 0px;
}

.press-bio-tagline {
  color: #EEEEEE;
  text-align: center;
  letter-spacing: 12px;
  font-size: 26px;
  line-height: 2em;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
}

.press-bio-tagline hr {
  width: auto;
  border-width: 2px;
  border-style: solid;
}

.press-hr-top {
  margin-top: -22px;
}

.press-spacer {
  display: block;
  line-height: 60px;
}

.press-bio-text {
  text-align: justify;
  color: #EEEEEE;
  font-size: 1.5em;
  line-height: 115%;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Permanent Marker', cursive;
}

.press-link {
  color: #0E7CBC;
  text-decoration: none;
}

.contact {
 text-align: center;
  color: #EEEEEE;
  font-size: 1em;
  font-family: arial;
}

.bit-event-buttons {
  display: flex !important;
  flex-direction: row !important;
  margin: 0 auto !important;
  width: auto;
  position: relative;
}

.bit-rsvp-container {
  float: left !important;
  margin: 0 !important;
  padding-right: 5px;
  margin: auto !important;
}

.bit-offers-container {
  float: right !important;
  margin: 0 !important;
  padding-left: 5px;
  margin: auto !important;
}
